name: Build man pages
on:
  workflow_call:
    inputs:
      submodules:
        description: 'Whether to checkout submodules'
        default: false
        type: boolean

permissions: {}

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-15, ubuntu-24.04]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: ${{ inputs.submodules }}
          show-progress: false
      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          version: '0.9.x'
          enable-cache: false
      - name: Install dependencies
        env:
          CACHE_DIR: ${{ runner.temp }}
          JOB_NAME: Docs
        run: |
          find .jenkins.d/ -type f -name '[1-9]*.sh' -exec chmod -x '{}' +
          ./.jenkins
      - name: Build man pages
        run: |
          ./waf --color=yes configure
          ./waf --color=yes build --targets=manpages
