name: Run .jenkins script (macOS)
run-name: Build ${{ inputs.repository }} on macOS

on:
  workflow_call:
    inputs:
      submodules:
        description: 'Whether to checkout submodules'
        default: false
        type: boolean
  workflow_dispatch:
    inputs:
      repository:
        description: 'Full name of the repository on which to run the workflow'
        default: named-data/
        required: true
        type: string
      submodules:
        description: 'Checkout submodules?'
        default: false
        type: boolean

permissions: {}

jobs:
  build:
    name: Xcode ${{ matrix.xcode }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - {os: macos-14, xcode: '15.4'} # Based on LLVM 16
          - {os: macos-15-intel, xcode: '16.2'} # Based on LLVM 17
          - {os: macos-15, xcode: '16.4'} # Based on LLVM 19
          - {os: macos-26, xcode: '26.1'} # Based on LLVM 19
    steps:
      - name: Set up Xcode
        uses: maxim-lobanov/setup-xcode@60606e260d2fc5762a71e64e74b2174e8ea3c8bd # v1.6.0
        with:
          xcode-version: ${{ matrix.xcode }}
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          repository: ${{ inputs.repository || github.repository }}
          submodules: ${{ inputs.submodules }}
          show-progress: false
      - name: Build and test
        env:
          CACHE_DIR: ${{ runner.temp }}
        run: ./.jenkins
