name: Lint
on:
  push:
    branches:
      - '**'
  pull_request:
  workflow_dispatch:

permissions:
  checks: write

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          show-progress: false
      - name: Run actionlint
        uses: reviewdog/action-actionlint@f00ad0691526c10be4021a91b2510f0a769b14d0 # v1.68.0
        with:
          reporter: github-check
        env:
          SHELLCHECK_OPTS: "-o avoid-nullary-conditions,deprecate-which,require-double-brackets"
