name: Lint
on:
  push:
    branches:
      - '**'
  pull_request:
  workflow_dispatch:

permissions:
  checks: write

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          show-progress: false
      - name: Run actionlint
        uses: reviewdog/action-actionlint@83e4ed25b168066ad8f62f5afbb29ebd8641d982 # v1.69.1
        with:
          reporter: github-check
        env:
          SHELLCHECK_OPTS: "-o avoid-nullary-conditions,deprecate-which,require-double-brackets"
