name: Lint
on:
  push:
    branches:
      - '**'
  pull_request:
  workflow_dispatch:

permissions:
  checks: write

jobs:
  actionlint:
    # Cannot run on ubuntu-slim because reviewdog/action-actionlint requires docker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          show-progress: false
      - name: Run actionlint
        uses: reviewdog/action-actionlint@e58ee9d111489c31395fbe4857b0be6e7635dbda # v1.70.0
        with:
          reporter: github-check
        env:
          SHELLCHECK_OPTS: "-o avoid-nullary-conditions,deprecate-which,require-double-brackets"
